[submodule "cfaqs"]
	path = cfaqs
	url = /var/lib/git/cfaqs-ko.git/
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "mw-render"]
	path = mw-render
	url = git@ssh.github.com:cinsk/mw-render.git
