    <hr/>

    <div style="float: right">
      <a href="http://www.anybrowser.org/campaign/">
        <img border="0" src="../img/anybrowser.png"
	     alt="Any Browser Campaign"/></a>
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
	<img border="0"
	     src="../img/w3c-css.png"
	     alt="Valid CSS!" /></a>
      <a href="http://validator.w3.org/check?uri=referer">
	<img src="../img/w3c-xhtml.png" border="0"
	     alt="Valid XHTML 1.0!"/></a>

      <br/>

      <a href="http://www.gnu.org/software/emacs/">
        <img border="0" src="../img/emacs-powered.png"
             alt="Emacs Powered"/></a>
      <a href="http://www.gimp.org/">
        <img border="0" src="../img/gimp-powered.png"
             alt="Graphics by GIMP"/></a>
      <a href="http://www.vim.org/">
        <img border="0" src="../img/vim-powered.png"
             alt="Vim Powered"/></a>
    </div>

    <p class="footer">
      The latest version is available at 
      <a href="http://www.cinsk.org/">here</a>.

      <br/>
      
      Copyright &copy; 2004-2006
      Seong-Kook Shin.  All rights reserved.

    <br/>
    <img src="../img/contact.png"/>
    </p>

    <p class="cvsid">
      $Id$
    </p>
  </body>
</html>

<!--
 Local Variables:
 coding: iso-8859-1
 fill-column: 78
 End:
-->
