    <hr/>
    <p class="footer">
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
	<img style="border:0;width:88px;height:31px" border="0"
	     src="http://jigsaw.w3.org/css-validator/images/vcss" 
	     alt="Valid CSS!" align="right"/></a>
      <a href="http://validator.w3.org/check?uri=referer">
	<img src="http://www.w3.org/Icons/valid-xhtml10" border="0"
	     alt="Valid XHTML 1.0!" height="31" width="88" align="right"/></a>
      If you're looking at a paper snapshot, 
      the latest version is available at 
      <a href="http://www.cinsk.org/">here</a>.
    </p>
      
    <p class="footer">
      Copyright &copy; 2004  
      Seong-Kook Shin.  All rights reserved.
    </p>

    <p class="cvsid">
      $Id$
    </p>
  </body>
</html>

<!--
 Local Variables:
 coding: iso8859-1
 fill-column: 78
 End:
-->
