<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/TR/xhtml1" xml:lang="ko" lang="ko">
  <head>
    <!-- $Id$ -->
    <meta http-equiv="charset" content="euc-kr"></meta>
    <title>Seong-Kook Shin's home page</title>
    <link rel="stylesheet" type="text/css" 
      href="../css/default.css" title="default"></link>

    <link rel="Start" href="../index.html"></link>
    <link rel="Up" href="../index.html"></link>
    <link rel="Prev" href="../resume.html"></link>
    <link rel="Next" href="../design.html"></link>
  </head>

  <body>
    <h1>Seong-Kook Shin's Bookshelf</h1>

