# See http://stackoverflow.com/questions/9102358/mod-rewrite-with-relative-path-redirects
# Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} ^(/[^/]+/([^/]+/)*) [NC]
RewriteRule ^[0-9]{4}/[0-9]{2}/[0-9]{2}/([^/]+\.png)$ http://%{HTTP_HOST}%1../../../img/posts/$1 [QSA,L,R=301]
