---
layout: default
title: 글 목록
id: article
label: "글 목록"
lang: ko
lead:
---

<div class="span9">
  <section id="about">
    <div class="page-header">
      <h1>써놓은 글</h1>
    </div>

    <p>아래는 제가 써놓은 글이며, <a href="http://orgmode.org/">org-mode</a>로
      작성했습니다.</p>

    <ul>
      {% articles article_layouts, id, title, lead, url, lang %}
        {% if lead == nil or lead == "" %}
          {% assign leadsep = '' %}
        {% else %} 
          {% assign leadsep = ': ' %}
        {% endif %}

        {% if lang == "" %}
      <li><a href="{{url}}">{{title}}</a>{{leadsep}}{{lead}}</li>
        {% else %}
      <li><a href="{{url}}">{{title}}</a> ({{lang}}){{leadsep}}{{lead}}</li>
        {% endif %}
      {% endarticles %}
    </ul>

  </section>
</div>

    
