# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Hunter's Blade Trilogy: Book One, The Thousand Orcs
image: thousandorcs.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>One Dark Elf.</p>\
<p>Two Enchanted Blades.</p>\
<p>One Unknown Enemy.</p>\
<p>And a Horde of Invaders.</p>\
<p>When a blood-thirsty band of orcs led by an as-yet-unseen\
enemy comes rampaging out of the Spine of the World,\
it lays waste to everything in its path.\
Dark elf ranger Drizzt Do'Urden and his most trusted friends find themselves\
in the path of destruction. As blades slash and feet trample,\
even the heroes may not survive a desperate stand.</p>
isbn: 0786929804
url: 

