# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: 30 Days to the GRE
image: 30gre.jpg
author: Rajiv N. Rimal, Peter Z. Orton
publisher: ARCO
description: 
isbn: 0028612612
url: 

