# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Advanced English Grammer in Use
image: advgram.jpg
author: Martin Hewing
publisher: Cambridge University Press
description: <p>Very good at learning English Grammer.</p>
isbn: 0521498686
url: 

