# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Advanced Programming in the UNIX Environment
image: apiue.jpg
author: Stevens
publisher: Addison Wesley
description: <p>A *Must* Have!!, Didn't read it yet? Go and get it! \
        Describes UNIX system calls and library function in a great depth, \
        with a lot of examples.</p>
isbn: 0201563177
url: http://www.kohala.com/start/apue.html

