# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Introduction to Automata Theory, Language and Computation
image: automata.jpg
author: John E. Hopcroft, Jeffrey D. Ullman
publisher: Addison Wesley
description: <p>A class automata book</p>
isbn: 020102988X
url: 

