# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Cleric Quintet: Book One, Canticle
image: canticle.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>High in the Snowflake Mountains sits the Edificant \
Library, a place of scholarly study for priests, bards, and \
others. Now from the hidden vaults beneath the library a devastating \
curse is unleashed, and a young cleric must battle the terrifying \
creatures set loose by a malevolent, consuming essence.</p> \
<p>Best-selling fantasy R.A. Salvatore begins the saga of Cadderly, \
the scholar-priest, and his loyal companions, as they battle an \
age-old evil.</p>
isbn: 0786916044
url: 

