# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: C: A Reference Manual, 4th edition
image: carm4.jpg
author: Samuel P. Harbison and Guy L. Steele Jr.
publisher: Prentice Hall
description: <p>So-called CARM or ARM. \
        After mastering C, you need onle one book, this book. \
        Reference manual with language definition.</p>
isbn: 0133262243
url: http://CAReferenceManual.com/

