# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: C: A Reference Manual, 5th edition
image: carm5.jpg
author: Samuel P. Harbison and Guy L. Steele Jr.
publisher: Prentice Hall
description: So-called CARM or ARM. \
        After mastering C, you need onle one book, this book. \
        Reference manual with language definition.
        This edition has more than 80 pages than 4th edition, and
        updated for the new C standard (C99).
isbn: 0-13-089592-X
url: http://CAReferenceManual.com/

