# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Cleric Quintet Collector's Edition
image: clericquintet.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p><em>New York Times</em> bestselling author R. A. Salvatores' \
Cleric Quintet novels, now in a trade paperback collector's edition</p> \
<p>R.A. Salvatore's The Cleric Quintet Collector's Edition tells the tale \
of the scholar-priest Cadderly, who is plucked from the halls of the \
Edificant Library to fulfill a heroic quest across the land of \
Faer&#x00FB;n. This one-volume collection includes all five of the \
original novels, complete and unabridged, with a new introduction by the \
author.</p> \
<p>&quot;Salvatore shows . . . intelligence in using the classic elements, \
a pleasant dry wit and a narrative gift.&quot;-- <em>Publishers Weekly</em></p>
isbn: 0786926902
url: 

