# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The C Programming Language, 2nd edition
image: cpl.jpg
author: Brian W. Kernighan, Dennis M. Ritchie
publisher: Prentice Hall
description: <p>So-called the white-book. A bible for all C users.</p>
isbn: 0131103628
url: 

