# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Computer System Architecture, 3rd edition
image: csa.jpg
author: M. Morris Mano
publisher: Prentice Hall
description: 
isbn: 0131755633
url: 

