# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Dark Elf Trilogy: Homeland, Exile, Sojourn
image: darkelf.jpg
author: R. A. Salvatore, Ed Greenwood
publisher: Wizards of the Coast
description: <p><em>Menzoberranzan, the city of chaos and home of the \
evil drow, is one of the most compelling examples of world-building \
since Marion Zimmer Bradley's Darkover.  The world of the drow is \
depicted with chilling conviction, a setting worthy of a powerful \
saga: the triumph of a remarkable character over the forces of evil \
and despair.</em> -- Elaine Cunningham</p> \
<p>Here for the first time in one volume is R.A. Salvatore's <em>The \
Dark Elf Trilogy</em>, the stirring epic that recounts the tortured \
beginnings and early struggles of Drizzt Do'Urden, one of the most \
beloved characters of the <strong>Forgotten Realm</strong> \
setting.</p>
isbn: 0786915889
url: 

