# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Dilbert Principle: A Cubicle's-Eye View of Bosses, Meetings, \
	Management Fads &amp; Other Workplace Afflictions
image: dilbert.png
author: Scott Adams
publisher: HarperBusiness
description: 
isbn: 0887308589
url: http://www.dilbert.com/

