# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: War of the Spider Queen: Book One, Dissolution
image: dissolution.jpg
author: Richard Lee Byers
publisher: Wizards of the Coast
description: <p>While their whole world is changing around them, four \
dark elves struggle against different enemies. Yet their paths will \
lead them all to the most terrifying discovery in the long history of \
the drow, and set them on a quest to save not only Menzoberranzan but \
the entire dark elf race from Dissolution.</p> \
<p>The War of the Spider Queen begins here.</p> \
<p>The first novel in an epic six-part series from the fertile \
imaginations of R.A. Salvatore and a select group of the newest, most \
exciting authors in the genre. Join them as they peel back the surface \
of the richest fantasy world ever created, to show the dark heart \
beneath.</p>
isbn: 
url: 

