# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Elric of Melnibone
image: eom.jpg
author: Micheael Moorcock
publisher: First Comics, Inc.
description: Aahhh~, I wanted to buy the novel version, not the comic!
isbn: 0-915419-05-X
url: 

