# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Dark Elf Trilogy: Book Two, Exile
image: exile.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>Hostile in ways that a surface-dweller could never know,\
the tunnel-mazes of the Underdark challenge all who tread there.\
Among these souls are Drizzt Do'Urden and his magical cat, Guenhwyvar.</p>\
<p>Exiled from his drow homeland, Drizzt must fight for a new home in the\
boundless labyrinth. Meanwhile, he must watch for signs of pursuit --\
for the dark elves are not a forgiving race.</p>
isbn: 0880389206
url: 

