# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Extending DOS: A Programmer's Guide to Protected-Mode DOS, 2nd edition
image: 
author: Ray Duncan, Charles Petzold, Andrew Schulman, M. Steven Baker, \
        Ross P. Nelson, Stephen R. Davis, Robert Moote
publisher: Addison Wesley
description: 
isbn: 0201567589
url: 

