# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Generic Programming and the STL: \
        Using and Extending the C++ Standard Template Library
image: genprogstl.png
author: Matthew H. Austern
publisher: Addison Wesley
description: 
isbn: 0201309564
url: 

