# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: C로 구현한 한글 코드 시스템 프로그래밍 가이드: \
        Hangul Code System Programming Guide
image: hcodespg.jpg
author: 한국어정보처리연구소
publisher: 도서출판 골드
description: 
isbn: 8986172798
url: 

