# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Dark Elf Trilogy: Book One, Homeland
image: homeland.png
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p><em>Station is the paradox of the world of my people,\
the limitation of our power within the hunger for power.\
It is gained through treachery and invites treachery against\
those who gain it. Those most powerful in Menzoberranzan spend their days\
watching over their shoulders,\
defending against the daggers that would find their backs.\
Their deaths usually come from the front.</em></p>\
<p>-- Drizzt Do’Urden</p>
isbn: 0880389052
url: 

