# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Everthing You Need to Score High on the TOEFL: 1999 edition
image: atoefl99.png
author: Patricia Noble Sullivan, Grace Yi Qiu Zhong, Gail Abel Brenner
publisher: ARCO
description: 
isbn: 0028624696
url: 

