# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: 우리글 바로쓰기 Vol. 3
image: hwb.png
author: 이오덕
publisher: 한길사
description: 
isbn: 8935600571
url: 

