# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Icewind Dale Trilogy
image: icewind.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>Icewind Dale. Windswept passes and forbidding glaciers stand \
at the top of the world. Below them, in the cold valleys, an evil force \
broods: the magic of Crenshinibon, the crystal shard.</p> \
<p>Now dwarf, barbarian, and drow elf join to battle this evil. \
Tempered in the furnace of struggle, they form an unbreakable friendship.</p>\
<p>A legend is born.</p>\
<p>For the first time in one volume, here is <em>New York Times</em> \
bestselling author R.A. Salvatore's adventure that introduced Drizzt \
Do'Urden, the heroic dark elf, one of the most beloved characters in \
fantasy literature.</p>
isbn: 078691811X
url: 

