# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: War of the Spider Queen: Book Two, Insurrection
image: insurrection.jpg
author: Thomas M. Reid
publisher: Wizards of the Coast
description: <p>Quenthel Baenre is second only to the matron mother and \
is Menzoberranzan's most powerful priestess of Lolth. When \
the Spider Queen goes silent, Quenthel is called upon to lead a team \
of dark elves on a mission that could save Menzoberranzan or doom it \
forever. With the cunning wizard Pharaun Mizzrym, weapons master Ryld \
Argith, mercenary Valas Hune, and the vicious draegloth Jeggred by her \
side, the priestess is sent to the trade city of Ched Nasad to \
determine the scope of Lolth's silence.</p> \
<p>Is Menzoberranzan alone being punished? Are all the drow? Is it just \
Lolth, or have all the gods gone quiet?</p> \
<p>The answers to these questions will determine the fate of the entire \
drow race and set the course for the future of the Underdark. If the \
powerful dark elves falter, the world below is open for Insurrection</p> \
<p>The War of the Spider Queen spreads.</p>
isbn: 
url: 

