# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Intensive GRE &amp; GMAT 수학 연구
image: 
author: 한재덕, 유시일
publisher: 종합출판
description: 
isbn: 8980990634
url: 

