# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The LaTeX Graphics Companion
image: latexgc.jpg
author: Michel Goossens, Sebastian Rahtz, Frank Mittelbach
publisher: Addison Wesley
description: <p>Optional, describes how to use graphics in LaTeX documents.</p>
isbn: 0201854694
url: 

