# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: LaTeX: Line by Line
image: 
author: Antoni Diller
publisher: Addison Wesley
description: <p>Optional, Absolute beginner's LaTeX guide</p>
isbn: 0471934712
url: 

