# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The LaTeX Web Companion
image: latexwc.jpg
author: Eitan Gurari, Ross Moore, Robert Sutor
publisher: Addison Wesley
description: Optional, describes how to use LaTeX for Web.
isbn: 0201433117
url: 

