# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Legacy of the Drow
image: ldrow.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p><em>No race in all the Realms better understands the word \
vengeance than the drow. Vengeance is their dessert at their daily \
table, the sweetness they taste upon their smirking lips as though it \
was the ultimate delicious pleasure. And so hungering did the drow \
come for me.</em> -- Drizzt Do'Urden</p> \
<p>For the first time in one volume, here is New York Times \
best-selling author R.A. Salvatore's saga of the battles of \
the dreadful Spider Queen Lolth and her vicious drow followers against \
Drizzt Do'Urden, one of the most beloved characters in \
fantasy literature.</p>
isbn: 0786918004
url: 

