# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Linux Kernel Internals, 2nd edition
image: linuxki.jpg
author: M Beck, H Bohme, M DZiadzka, U Kunitz, R Magnus, D Verworner
publisher: Addison Wesley
description: 
isbn: 0201331438
url: 

