# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Understanding the Linux Kernel, 2nd edition
image: linuxkernel2.png
author: Daniel P. Bovet, Marco Cesati
publisher: O'Reilly
description: 
isbn: 0596002130
url: 

