# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Lord of the Rings: Part One, The Fellowship of the Ring
image: lr1.jpg
author: J. R. R. Tolkien
publisher: BB Fantasy
description: 
isbn: 0345339703
url: 

