# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Mathematical Elements for Computer Graphics, 2nd edition
image: 
author: David F. Rogers, J. Alan Adams
publisher: McGrow-Hill
description: 
isbn: 0071002898
url: 

