# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Motif Reference Manual
image: motifrm.jpg
author: Paula M. Ferguson, David Brenan
publisher: O'Reilly
description: 
isbn: 1565920384
url: http://www.oreilly.com/catalog/motifref2/

