# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Magic the Gathering: Odyssey Cycle Book I
image: odyssey1.jpg
author: Vance Moore
publisher: Wizards of the Coast
description: 
isbn: 0786919000
url: 

