# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: OpenGL Programming Guide, 3rd edition
image: opengl.jpg
author: Mason Woo, Jackie Neider, Tom Davis, Dave Shreiner
publisher: Addison Wesley
description: 
isbn: 0201604582
url: 

