# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Operating Systems: Internal and Design Principle, 3rd edition
image: 
author: Willam Stallings
publisher: Prentice Hall
description: 
isbn: 0139179984
url: 

