# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: PC를 이용할 때의 프로그래밍 문제점 해결책
image: 
author: 류성렬
publisher: 세화
description: 
isbn: 8931700423
url: 

