# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Paths of Darkness
image: pod.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast Inc.
description: <p>A collection of four best-selling R.A. Salvatore \
novels available in paperback for the first time.</p> \
<p>This collection of four New York Times best-selling novels from \
premiere fantasy author R.A. Salvatore includes <em>The Silent \
Blade</em>, <em>The Spine of the World</em>, <em>Servant of the \
Shard</em>, and <em>Sea of Swords</em>. These titles continue the tale \
of Salvatore's signature character Drizzt Do'Urden, one of the most \
well-known figures in the <strong>Forgotten Realms</strong> setting.</p>
isbn: 0786939958
url: http://www.wizards.com

