# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Foundation Novels -- Prelude To Foundation
image: prelude-foundation.png
author: Isaac Asimov
publisher: Bantam Books
description: <p>Have you ever heard the Three Laws of Robotics?</p>
isbn: 0553278398
url: http://www.asimovonline.com/

