# This is a comment.
title: PostScript by Example
image: psbyexam.jpg
author: Henry McGilton, Mary Campione
publisher: Addison Wesley
description: <p>Very good beginner's guide for PostScript language. \
        Must have for anyone interested in PostScript.</p>
isbn: 0201632284
