# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: PostScript Language Reference, 3rd edition
image: pslpd.jpg
author: 
publisher: Addison Wesley
description: Good for PostScript interpreter developer, bad for beginner
isbn: 0201379228
url: http://www.adobe.com:80/products/postscript/pdfs/PLRM.pdf

