# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: 박정 CBT 종합 TOEFL: Start-up
image: ptoefl1.png
author: 윤지원, 변기승, 전흥석
publisher: 을유문화사
description: 
isbn: 8932452067
url: 

