# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Path of Darkness: Book Four, Sea of Swords
image: seasword.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p><em>It is good to be home. It is good to hear the wind of \
Icewind Dale, to feel its invigorating bite, like some reminder that I am \
alive.</em></p> \
<p>The Dark Elf</p> \
<p>When the mark of the great warhammer Aegis-fang is found branded on \
the back of a vicious outlaw, Drizzt can no longer merely hope that \
Wulfgar is safe. The dark elf and his companions set out to find the \
barbarian once and for all. As they discover pieces of the puzzle \
their friend's life has become, Drizzt grows only more determined to \
locate him.</p> \
<p>The Barbarian</p> \
<p>As his friends search for him, Wulfgar sails with Captain Deudermont \
in search of the stolen Aegis-fang, now in the hands of the vile \
pirate Sheila Kree. But the pirate isn't willing to sit around waiting \
to be caught. She has other plans.</p> \
<p>Drizzt, Cattie-brie, Regis, Bruenor, and Wulfgar -- the Companions \
of the Hall -- come together for the first time since The Silent Blade \
in a reunion filled with discovery and adventure.</p>
isbn: 
url: 

