# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Path of Darkness: Book Three, Servant of the Shard
image: servantshard.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>The Assassin</p> \
<p>Surrounded by dark elves, Artemis Entreri tightens his grip on the \
streets of Calimport. While he urges caution, his black-skinned \
sponsor grows ever more ambitious. The assassin will soon find himself \
on a path his most hated enemy has walked before him--a path that \
leads to a place where someone like Entreri would never be welcome.</p> \
<p>The Drow</p> \
<p>Jarlaxle has ascended from dark Menzoberranzan with only evil \
intentions. The malevolent Crystal Shard's influence on him \
intensifies until even the drow agents he brought with him grow \
fearful. When Bregan D'aerthe itself begins to turn on him, \
Jarlaxle will be forced to find a savior in the man he's \
come to enslave.</p>
isbn:
url:

