# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Dark Elf Trilogy: Book Three, Sojourn
image: sojourn.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>Far above the merciless Underdark,\
Drizzt Do'Urden fights to survive the elements of Toril's harsh surface.\
The young drow begins a sojourn through a world entirely unlike his own\
-- even as he evades the dark elves of his past.\
He begins to understand his new home and its inhabitants,\
but acceptance among the surface-dwellers doesn't come easily.</p>
isbn: 1560760478
url: 

