# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Path of Darkness: Book Two, The Spine of the World
image: spineworld.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>The Road to Redemption</p> \
<p>Even the brutal streets of a treacherous city can't hide a tortured \
soul forever.</p> \
<p>The barbarian Wulfgar sets upon a dangerous path toward redemption when \
and old friend finds him in the city of Luskan. Wulfgar's journey twists up \
the windswept peaks of the Spine of the World. He will persevere, for at the \
end lies his most prized possession -- the life he thought he'd lost \
forever.</p>
isbn: 
url: 

