# $Id$
# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The Hunter's Blade Trilogy: Book Two, The Lone Drow
image: tlonedrow.jpg
author: R. A. Salvatore
publisher: Wizards of the Coast
description: <p>Alone on the battlefield.<br/> \
Surrounded by death.<br/> \
Cornered by enemies.<br/> \
And ready to die.</p> \
<p>Drizzt Do'Urden has become an orc's worst nightmare: \
a lone drow with nothing to lose and nowhere to run. \
As the North spirals into chaos and war, \
one dark elf has decided to take it personally, \
and it will take an army to stop him.</p> \
<p>The Hunter's blades have been drawn, and Drizzt will never be the same.</p>
isbn: 0786932287
url: 

