# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Undocumented DOS: A Programmer's Guide to \
        Reserved MS-DOS functions and Data Structure, 2nd edition
image: undos.png
author: Andrew Schulman, Ralf Brown, David Maxey, Raymond J. Michels, Jim Kyle
        Ross P. Nelson, Stephen R. Davis, Robert Moote
publisher: Addison Wesley
description: 
isbn: 020163287X
url: 

