# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: The UNIX Programming Environment
image: upe.jpg
author: Brian W. Kernighan, Rob Pike
publisher: Prentice Hall
description: 
isbn: 013937681X
url: 

