# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Fundamental of X Programming: Graphical User Interface and Beyond
image: 
author: Theo Pavlidis
publisher: Kluwer Academic / Plenum Publish
description: 
isbn: 0306460653
url: 

