# - Each file describes one book record
# - Comment begins with '#'.
# - Each records occupies one line, however it is possible to use multiple
#   lines using \ character at the end of line.
# - Currently, "title", "author", "publisher", "description", "image", and 
#   "isbn" are implemented. 
# - Each field can be ommitable, and multiple occurrence is not allowed.

title: Xlib Programming Manual
image: xlibpm.jpg
author: Adrian Nye
publisher: O'Reilly
description: 
isbn: 0937175110
url: http://www.oreilly.com/catalog/v1/

